<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="shipping">
      <h2 data-cy="shippingDetailsHeading"><span>Shipping</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ shipping.id }}</span>
        </dd>
        <dt><span>User Id</span></dt>
        <dd>
          <span>{{ shipping.userId }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ shipping.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ shipping.lastName }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ shipping.phone }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ shipping.address }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ shipping.city }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ shipping.state }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ shipping.country }}</span>
        </dd>
        <dt><span>Postal Code</span></dt>
        <dd>
          <span>{{ shipping.postalCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/shipping', shipping.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
